body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

.sqr {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid #333333;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sqr:hover {
  background-color: #f0f0f0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.winning-sqr {
  background-color: #ffff00;
  border-color: #ff0000;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}